extends layout.pug
block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each note in myNotes
          li.notes__list-item
            time.notes__item-time(datetime= note.dateTime)= note.dateView
            a.notes__item-text(href= '/articles/' + note.id)= note.text
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
      .pagination-wrapper
        ul.pagination
          each page in pageList
            li
              if page === currentPage
                a.active= page
              else
                a(href=`/my/?page=${page}`)= page
          if nextPage
            li
               a(href=`/my/?page=${nextPage}`) дальше
